<h1>Listing all Todos</h1>

<p>
  <%= link_to "Create a Todo", new_todo_path %>
</p>

<% @todos.each do |todo| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      <h4><%= link_to todo.name, todo_path(todo) %></h4>
      <p><%= truncate(todo.description, length: 150) %></p>
      <div class="row">
        <div class="col-md-3 col-md-offset-9">
          <p>
            <%= link_to "Edit", edit_todo_path(todo) %> |
            <%= link_to "Show", todo_path(todo) %> |
            <%= link_to "Delete", todo_path(todo), method: :delete,
                data: { confirm: "Are you sure?" } %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
